body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  font-family    : "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size      : 14px;
  border-collapse: collapse;
  text-align     : center;
  width          : 100%;
}

th,
td:first-child {
  background: #929292;
  color     : white;
  padding   : 10px 20px;
}

/* .firstTd{
  max-width: 10%;
} */



th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #4c4c4c;
  padding     : 10px;
}


th:first-child,
td:first-child {
  text-align: left;
}

.nope {
  opacity: 0;
}

th:nth-child(odd) {
  background-color: #f30c0c;
}

th:nth-child(even) {
  background-color: #4c4c4c;
}

.field {
  font-weight: bold;
  font-size  : 22px;
  color: #723b3b;
}
.table{
  margin-top: 30px;
}
.single-select{
  margin-top: 30px;
}

/* .field__blue {
  color: rgb(0, 176, 230)
}

.field__darkBlue {
  color: rgb(11, 42, 179)
}

.field__green {
  color: rgb(64, 158, 27)
}

.field__red {
  color: red
} */